@import '../../styles/_config.scss';

.work-block {
  height: calculateRem(160);
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $yellow;
  background-size: 100%;
  text-align: center;
  width: 50%;

    p {
      padding: calculateRem(10);
    }

    @include breakpoint($tablet) {
      width: 25%;
      height: calculateRem(194);
    }

    @include breakpoint($tabletPlus) {
      width: 25%;
      height: calculateRem(225);
    }
}
