@import '../../../styles/_config.scss';

.contact-form {

  h1 {
    color: $yellow;
    font-size: calculateRem(20);
    text-align: center;
    margin: calculateRem(18) 0 calculateRem(30) 0;
  }
  margin: calculateRem(15);
  background: $blueGray;
  padding: calculateRem(20);

  @include breakpoint($tablet) {
    width: calculateRem(594);
    margin: auto;
  }

  @include breakpoint($tabletPlus) {
    float: right;
    max-width: calculateRem(400);
    padding-top: 0;

      h1 {
        text-align: left;
        margin-bottom: calculateRem(10);
      }
  }
}
