// animations

body {
	font-family: $body-font-extra-light;
	background: #ecedee;
}

.clear-fix {
	clear: both;
	height: 0;
}

.mobile {
	@include breakpoint($tabletPlus) {
		display: none;
	}
}
.desktop {
	display: none;
	@include breakpoint($tabletPlus) {
		display: block;
	}
}

// animations

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOutRight {

	0% {
		opacity: 1;
		transform: translateX(0);
  }
  100% {
		opacity: 0;
		transform: translateX(30px);
	}
}