form {
  .error-message {
    color: red;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: -17px;
    font-size: calculateRem(14)

  }
  input {
    border: none;
    outline: none;
  }
}