// Media Queries
$small: 360px !default;
$mobile: 425px !default;
$mobilePlus: 480px !default;
$maxWidth: 620px !default;
$tablet: 768px !default;
$tabletPlus: 960px !default;
$laptop: 1024px !default;
$monitor: 1220px !default;
$big: 1440px !default;
$bigger: 1680px !default;
$huge: 1920px !default;

//colors
$error: red;
$blueGray: #3b4b54;
$yellow: #ffff00;
$lightGray: #e3e3e3;

//text
$body-font-size: 16;
$body-font-extra-light: 'ek_muktaextralight';
$body-font-light: 'ek_muktalight';
$body-font-regular: 'ek_muktaregular';
$body-font-medium: 'ek_muktamedium';
$body-font-bold: 'ek_muktabold';