@import '../../styles/_config.scss';

.footer {
  min-height: calculateRem(360);
  background: $blueGray;
  padding-top: calculateRem(50);
  position: relative;
  display: flex;
  flex-direction: column;

    .tablet {
      order: 1;
    }

    .copyright-info {
      order: 3;
    }

    @include breakpoint($mobilePlus) {

      display: block;

      .tablet {
        display: flex;
        align-items: center;
        max-width: calculateRem(625);
        margin: auto;
        justify-content: space-between;

        .social-icons {
          margin:0;
          padding-right: calculateRem(60);
          border-right: 1px solid $lightGray;
          min-width: calculateRem(115);
        }

        .contact-email {
          padding-right: calculateRem(60);
          border-right: 1px solid $lightGray;
          min-height: 30px;
          a {
             font-size: calculateRem(25);
          }
        }

        .tel-number {
          .tel {
            a {
              margin: 0;
              font-size: calculateRem(25)
            }

          }
        }
      }
    }
}
