@import '../../../styles/_config.scss';

.form-text-field {
  margin-bottom: calculateRem(20);
  position: relative;
  width: 100%;

  .floating-text-input {
    width: 100%;
    input {
      height: calculateRem(40);
      background:$lightGray;
      text-indent: calculateRem(5);
    }

    &:before {
      border-bottom: 1px solid $yellow;
    }

    &:after {
      border-bottom: 2px solid $yellow;
    }


  }

  &.hidden {
    display: none;
  }


}