@import '../../styles/_config.scss';

.happiness-indicator {
  min-height: calculateRem(400);

    .title-section {
      text-align: center;
      h1 {
        font-family: $body-font-medium;
        font-size: calculateRem(24);
        padding-top: calculateRem(50);
      }

      p {
        margin-top: calculateRem(15);
        font-size: calculateRem(18)
      }
    }

    @include breakpoint($tablet) {
      padding-bottom: calculateRem(20);
    }
    @include breakpoint($tabletPlus) {
      float: left;
    }
}
