@import '../../styles/_config.scss';

.carousel {
  position: relative;
  .slide {
    min-height: calculateRem(400);
    background: url('../../images/slider-image-1-mobile.jpg') no-repeat center;
    width: 100%;

      @include breakpoint($tabletPlus) {
        min-height: calculateRem(550);
        background-image: url('../../images/slider-image-1.jpg');
      }

      &.slide-two {
        background-image: url('../../images/slider-image-2-mobile.jpg');
        @include breakpoint($tabletPlus) {
          background-image: url('../../images/slider-image-2.jpg');
        }
      }
      &.slide-three {
        background-image: url('../../images/slider-image-3-mobile.jpg');

        @include breakpoint($tabletPlus) {
          background-image: url('../../images/slider-image-3.jpg');
        }
      }
  }

}
