@import '../../styles/_config.scss';

.home {
  .contact-wrapper {
    background: url('../../images/form-bg.png') no-repeat top;
    background-size: cover;
    .contact-section {
      max-width: calculateRem(900);
      margin: auto;
      padding-bottom: calculateRem(45);


        @include breakpoint($tabletPlus) {
          padding-bottom: calculateRem(70);
        }
    }

    @include breakpoint($tabletPlus) {
      padding-top: calculateRem(60);
    }
  }

}
