@import '../../styles/_config.scss';

.navigation-wrapper {
  position: relative;
  overflow: hidden;
  .header-wrapper {
    height: calculateRem(60);
    background: $blueGray;
    position: relative;
      .logo-wrapper {
        width: calculateRem(88);
        height: calculateRem(40);
        position: absolute;
        top: 0;
        left: 15px;
        bottom: 0;
        margin: auto;

          a {
            width: inherit;
            height: inherit;
            display: inline-block;
            background: url('../../images/logo.png') no-repeat center;
            background-size: 100%;
          }
      }

      .trigger {
        position: absolute;
        top: 0;
        right: calculateRem(15);
        bottom: 0;
        margin: auto;
        height: calculateRem(30);
        outline: none;
        span {
          display: block;
          width: calculateRem(40);
          height: calculateRem(3);
          margin-bottom: calculateRem(10);
          position: relative;
          transition: 0.5s background ease;
          background: $yellow;
          z-index: 1;
          transform-origin: 0px 0px;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
          &:first-child {
            transform-origin: 0% 0%;
          }
          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }

        &.open {
          span {

            &:nth-child(2) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:first-child {
              transform: rotate(45deg) translate(-1px, -2px);
            }
            &:last-child {
              transform: rotate(-45deg) translate(0, -1px);
            }
          }

        }
      }
  }

  .menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $blueGray;
    left: 100vw;
    transition: 0.2s left ease-in-out;
    transition-delay: 0.1s;
    padding-top: calculateRem(30);
    z-index: 9999;

      li {
        text-align: center;
        margin-bottom: calculateRem(45);
        position: relative;
        a {
          color: $yellow;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 25px;
        }
      }

      &.open {
        left: 0;
        li {
          animation: 0.5s ease fadeInRight 0.2s both;
        }

      }

      &.closed {
        left: 100vw;

        li {
          animation: 0.5s ease fadeOutRight both;
        }
      }
  }

  .desktop-nav {
    position: absolute;
    right: calculateRem(15);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
    align-items: center;

      li {
        float: left;
        margin-left: calculateRem(25);
          a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.3s color ease;
              &:hover {
                color: $yellow;
              }
          }
      }
  }
}
