@import '../../../styles/_config.scss';
.form-select {
  margin-bottom: calculateRem(20);
  div {
    width: 100%;
    padding: calculateRem(7) 0;

    &.select-input {
      background:$lightGray;
      text-indent: calculateRem(5);

        &:before, &:after {
          border-color: $yellow !important;
        }

        svg {
          fill: $yellow;
        }
    }
  }
}
