@import '../../styles/_config.scss';

button.button {
  width: 100%;
  color: $blueGray;
  background-color: $yellow;
  height: calculateRem(50);
  text-align: center;
  font-size: calculateRem(18);
  border: none;
  text-transform: uppercase;
  outline: none;

    &:disabled {
      opacity: 0.5;
    }
}