@import '../../styles/_config.scss';

.awards-wrapper {
  position: relative;
  height: calculateRem(50);
  overflow: hidden;

  .awards-inner {
    position: relative;
    transition: 0.3s left ease;

    .award {
      text-align: center;
      width: 100vw;
      float: left;
      h1 {
        color: $lightGray;
        text-transform: uppercase;
        font-size: calculateRem(18);

        @include breakpoint($tablet) {
          font-size: calculateRem(15)
        }

        &.year {
          color:$yellow;
        }
      }
    }

    @include breakpoint($tablet) {
      width: 200% !important;
      display: flex;
    }
    @include breakpoint($tabletPlus) {
      width: 100% !important;
      max-width: calculateRem(844);
      margin: auto;
        .award {
          h1 {
            font-size: calculateRem(12);

            &.year {
              font-size: calculateRem(15);
            }
          }
        }
    }

  }

  .awards-controls {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;

    .control {
      position: relative;
      outline: none;
      &.prev {
        float: left;
        span {
          position: absolute;
          left: calculateRem(15);
        }
      }
      &.next {
        float: right;

        span {
          position: absolute;
          right: calculateRem(0);
        }
      }

      svg {
        fill: $yellow;
        width: calculateRem(50);
        height: auto;
      }
    }

    @include breakpoint($tabletPlus) {
      display: none;
    }


  }

  @include breakpoint($mobilePlus) {
    margin-top: calculateRem(88);
  }

}
