import React from 'react';
import PropTypes from 'prop-types';
import './styles.scss';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}

function {{ properCase name }}(props) {
  return (
    <div>
    {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
    {{/if}}
    </div>
  );
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
