@import '../../styles/_config.scss';

.social-icons {
  max-width: calculateRem(115);
  display: flex;
  justify-content: space-between;
  margin: calculateRem(60) auto calculateRem(20);
  a {
    width: calculateRem(30);
    height: calculateRem(30);
    display: inline-block;
    background: $yellow;
    border-radius: 50%;

    span {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;

      svg {
        fill: $blueGray;
        width: calculateRem(20);
        height: calculateRem(20);
        margin: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        left:0;
        top:0;
      }
    }


  }
}
