@import '../../styles/_config.scss';

.contact-email {
  .email {
    a {
      color: $yellow;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      width: 100%;
      font-size: calculateRem(18);
    }
  }
}
