@import '../../styles/_config.scss';

.copyright-info {
  margin-top: calculateRem(65);
  color: $lightGray;
  text-align: center;
  padding: 0 calculateRem(15);
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $yellow;
      }
    }

    @include breakpoint ($mobilePlus) {
      position: absolute;
      bottom: calculateRem(30);
      width: 100%;
      padding: 0;
    }
}
