@import '../../styles/_config.scss';

.happiness-slider {
  width: 100%;
  position: relative;
  left: 0;
  overflow: hidden;
  max-width: calculateRem(437);
  margin: auto;
  right: 0;
  .slide-wrapper {
    height: 267px;
    position: relative;
    transition: 0.3s left ease-in;
      .slide {
        width: 100vw;
        height: inherit;
        background: url('../../images/happiness/happy-face.png') no-repeat center;
        float: left;
          @include breakpoint($tablet) {
            width: calculateRem(437);
          }
      }
  }

  .slide-controls {
    width: 100%;
    position: relative;
    height: calculateRem(40);

      .control {
        position: absolute;
        left: calculateRem(15);
        width: calculateRem(20);
        height: inherit;
        outline: none;

          &.next {
            right: calculateRem(15);
            left: auto;;
          }
      }
  }

  .happiness-indicator-track {
    width: calculateRem(200);
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: calculateRem(25);
    height: 2px;
    background:$blueGray;
    padding: 0;
      .level {
        position: absolute;
        width: calculateRem(10);
        height: calculateRem(10);
        border-radius: 50%;
        background: inherit;
        top: -4px;
        transition: 0.3s left ease;
      }
  }
}
