@import '../../styles/_config.scss';

.carousel-text-block {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: calculateRem(15);

    .block-inner {
      background-color: $blueGray;
      position: absolute;
      z-index: 999;
      width: 91%;
      height: inherit;
      padding: calculateRem(15);

        h1 {
          color: $yellow;
          font-size: calculateRem(20);
          margin-top: calculateRem(30);
        }

        p {
          color:#c9c9c9;
          margin-top: calculateRem(25);
          font-size: calculateRem(18);
        }

        .button {
          bottom: calculateRem(15);
          margin-top: calculateRem(25);
        }

        @include breakpoint($mobile) {
          width: 92%;
        }

        @include breakpoint($tablet) {
          width: calculateRem(425);
        }

        @include breakpoint($tabletPlus) {
          width: calculateRem(319);
        }
    }

    @include breakpoint($tabletPlus) {
      top: calculateRem(50);
      left: calculateRem(65);
      width: auto;
    }

}
