@import '../../styles/_config.scss';

.tel-number {
  .tel {
    a {
      color: $lightGray;
      text-align: center;
      font-size: calculateRem(20);
      display: inline-block;
      width: 100%;
      margin-top: calculateRem(20);
      text-decoration: none;

    }

  }
}
